body {
    font-family: 'Libre Franklin', sans-serif;
    background-color: #151F1Dff;
    color: #E1E5BFff;
}

.navbar {
    background-color: #BADB95ff !important;
}

.nav-link {
    color: black !important;
}
    img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 7px;
    border-color: #03EA33 !important;
    border-width: 5px;
    border-style: solid;
}

.card-title {
    text-transform: uppercase;
    font-size: 36px;
}

.btn-primary {
    background-color: #344A2Fff;;
    border-color:#353839;
    color: #BADB95ff;
}

.jumbotron {
    background-color: #151F1Dff;
    color: #E1E5BFff;
    ;
}

.modal-content {
    background-color: #233831ff !important;
}

button:hover {
    background-color: #03EA33 !important;
    color: #171A15ff !important;
}

.btn:hover {
    background-color: #03EA33 !important;
    color: #171A15ff !important;
    font-weight: 900;
}

.display-4 {
    text-decoration: underline;
    text-decoration-color: #03EA33;
}
/* GRID */
.gridContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 300px);
    justify-content: center;
}

#podunkImg {
    padding-left: 25%;
    grid-column-start: 1;
    grid-column-end: span col6-start;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: #171A15ff;
}

#podunkBody {
    grid-column-start: 7;
    grid-column-end: span col12-start;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #171A15ff;
}

#uimnImg {
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 2;
    background-color: #151F1Dff;
}

#uimnBody {
    grid-column-start: 1;
    grid-column-end: span col6-start;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #151F1Dff;
}

#radiokImg {
    grid-column-start: 1;
    grid-column-end: span 6;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #171A15ff;
    padding-left: 25%;
}

#radiokBody {
    grid-column-start: 7;
    grid-column-end: span col12-start;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #171A15ff;
}


.caseContainer {
    padding: 3%;

}